html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bodydiv {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.mainContainerFirstPage {
    display: flex;
    flex-direction: row;
    height: 693px;
}

.nameOfCompanyDiv {
    display: flex;
    flex-direction: row;
}

.mainContainerFirstPage img {
    height: 693px;
}

.nameOfCompanyDiv img {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin: 5px;
}

.mainSigninCard {
    padding: 25px 25px 135px 35px;
    background-color: #f9f6f6;
    border-radius: 10px;
    position: relative;
}

.welcomeBackCard p {
    font-weight: 700;
    color: rgba(165, 161, 161, 0.87);
}

.welcomeBackCard button {
    padding: 10px 15px;
    background: rgb(45, 45, 215);
}

.welcomeBackCard p {
    text-align: center;
}

.mainSigninCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    background-color: white;
    border: none;
    padding: 10px 25px;
    color: black;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 700;
    color: rgba(67, 64, 64, 0.87);
}

.inputCheckDiv {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: space-between;
}

.inputCheckDiv p {
    font-size: 16px;
    color: blue;
}

.inputCheckDiv input {
    margin: 5px;
    font-size: 16px;
    transform: scale(1.5);
}

.welcomeTexts {
    text-align: center;
}
hr {
  border: 0;
  height: 2px;
  background: #c9c9c9;
  margin: 16px 0;
}

.divButtonsWithLogs button {
    background-color: rgba(215, 204, 204, 0.87);
    border: 2px solid rgb(199, 183, 183);
}

.divButtonsWithLogs button:hover {
    background-color: rgba(215, 204, 204, 1);
}

.divButtonsWithLogs {
    display: flex;
    justify-content: space-around;
}

.DivCopyrights {
    position: fixed;
    bottom: 0;
    left: 0;
}

.divToSwitch {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

.submitbuttonForm {
    margin-top: 20px;
}

.nameOfCompanyDiv {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}

.maindiv {
    display: flex;
}